<!DOCTYPE html>
<html>
<head>
	<title>rack app from scratch</title>
</head>
<body>
	<h1>Hello World</h1>
	<br>
	<form method="post" action="/change">
		<input name="name" type="text">
		<input type="submit" value="Change name">
	</form>
</body>
</html>